{{ ansible_managed | comment }}

#!/bin/bash

# Exit on error
set -e
# Treat unset variables as an error when substituting
set -u

# Script configuration
LOGFILE="/var/log/duplicity/duplicity_backup.log"
source "/home/harppi/.duplicity/.env_variables.conf"

# Dropbox configuration
DROPBOX_DIR="duplicity_backup"

# Directories to backup
DOCUMENTS="/home/harppi/Documents/"
MUSIC="/home/harppi/Music/"
PICTURES="/home/harppi/Pictures/"

# Backup
duplicity \
  --verbosity info \
  --encrypt-sign-key="$GPG_KEY" \
  --full-if-older-than {{ limit_full }} \
  --log-file ${LOGFILE} \
  --include=${DOCUMENTS} \
  --include=${MUSIC} \
  --include=${PICTURES} \
  --exclude '**' / \
  dpbx://${DROPBOX_DIR}

# Remove files older than {{ limit_retention }} from Dropbox
[[ $? = 0 ]] && { # if file transfer succeeds
  duplicity \
  --verbosity info \
  --log-file ${LOGFILE} \
  remove-older-than {{ limit_retention }} --force dpbx://${DROPBOX_DIR}
}

# Cleanup failures
duplicity \
  --verbosity info \
  --log-file ${LOGFILE} \
  cleanup --force dpbx://${DROPBOX_DIR}

function finish {
  unset DPBX_ACCESS_TOKEN
  unset DPBX_APP_KEY
  unset DPBC_APP_SECRET
  unset GPG_KEY
  unset PASSPHRASE
}

trap finish EXIT
